factory_boy
Faker==37.4.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-asyncio
pytest-flask
pyzmq==27.0.0
Werkzeug
black
flake8==7.3.0
flake8-bugbear
flake8-pie
isort
mypy==1.16.1
flask_sqlalchemy
types-Flask
sqlalchemy
gunicorn
psycopg2
flasgger
flask-postgresql